@charset "utf-8";

/* ----- 공통 layout ----- */
/* skip navi */
.skip{position:relative;z-index:99;}
.skip h2{display: block;overflow: hidden;position: absolute;width: 0px;height: 0px;font-size: 1px;line-height: 0;text-indent: -999em;white-space: nowrap;}
.skip a{position: absolute;top: -100px;left: -999px;display:block;height:50px;padding:0 20px;line-height:50px;font-size:16px;text-align:center;background: #31313b;color: white;}
.skip a:focus{top:0;left:0;}


/* hidding */
.offscreen{position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden;}

/* 공통 너비 layout */
.common-layout{position:relative;width:1180px;margin:0 auto}
.container{position:relative;}
.common-layout:after,
.container:after{content:'';display:block;clear:both;}

/* header */
.top-wrap{text-align: center;height:35px; background: #0770bb;}
.top-wrap .top-left{position:absolute;left:0;top:0px;}
.top-wrap .top-right{position:absolute;right:0;top:0px;}

/* header-top- */
.link-unit{line-height:35px;font-family: 'NotoKrR',sans-serif;font-size:14px;letter-spacing:-0.05em;}
.link-unit:after{content:'';display:block;clear:both;}
.link-unit li{position:relative;float:left;vertical-align:top;}
.link-unit li a{color:#fff;vertical-align: top; padding:0 30px;  display: block;  border-left: 1px solid #398dc9;height:35px;  }
.link-unit li:last-child{ border-right: 1px solid #398dc9;}

.link-unit2{line-height:35px;vertical-align: top;}
.link-unit2:after{content:'';display:block;clear:both;}
.link-unit2 li{position:relative;float:left;vertical-align:top;padding:0 15px;}
.link-unit2 li:last-child{padding-right:0;}
.link-unit2 li:after{content: '';display: inline-block;width: 1px;height: 10px;background: #fff;position: absolute;top: 16px;right:0px;}
.link-unit2 li:last-child:after{content: '';display:none;}
.link-unit2 li a{font-family: 'NotoKrM',sans-serif;font-size:13px;color:#fff;letter-spacing:-0.05em;height:35px;}

.link-unit2 .lang > a{ height: 35px;padding-right: 14px; display: inline-block;font-size:12px; line-height: 35px;}
.link-unit2 .lang > a:after{content: '';display: block;width: 10px;height: 4px;background:url(../img/icon_header.png) -80px -120px no-repeat;position: absolute;top: 18px;right: 0px;}
.link-unit2 .lang-open{;z-index:200;position: absolute;top: 35px;right: 0; width: 50px; height: 90px;background: #0770bb; line-height: 24px; font-family: 'NotoKrR',sans-serif; display: none  }
.link-unit2 .lang-open a{color:#aad3f1}
.link-unit2 .lang-open a:hover, .link-unit2 .lang-open a:focus{font-family: 'NotoKrM',sans-serif; color: #fff}
.link-unit2 .lang a.active:after{background-position:-80px -130px}
.link-unit2 .lang a.active +.lang-open{display:inline-block;}

/* header-gnb */
.header{position:relative;}
.nav-wrap{position:relative;height:90px;border-bottom:1px solid #eeeeee; background: #fff; }
.nav-wrap .common-layou:after{content:'';display:block;clear:both;}
.gnb-wrap{display:block; position: absolute;top: 0; right: 0;}
.nav-wrap h1{padding-top: 24px; width:350px; }
.nav-wrap h1 a{font-size: 18px; color:#0082b6; font-family: 'NotoKrM',sans-serif; font-weight: normal; display: block; padding-left: 180px; height: 43px;position: relative;padding-top: 11px;}
.nav-wrap h1 a:before{content: '';display: block;width: 1px;height: 20px;background: #0082b6;position: absolute;top: 11px;left:163px;}
.nav-wrap h1 a:after{content: '';display: block;width: 145px;height: 43px;background:url(../img/icon_header.png) left top no-repeat;position: absolute;top: 0px;left:0px;}
.gnb li{float:left;color:#000;font-size:18px;font-family: 'NotoKrM',sans-serif; text-align: center;min-width:95px;position: relative;}
.gnb li:first-child{margin-left:0;}
.gnb li a{display:block;line-height:90px;height:90px;position:relative; width: 150px;}
.gnb li a:hover,.gnb li.active a{color:#0770bb}
.gnb li a:hover:after,.gnb li.active a:after{content:'';display:inline-block;position:absolute;left:0;bottom:0;right:0;height:4px;background: #0770bb}

.gnb li ul{position:absolute; left: 0px; top:90px; z-index: 999; padding-top: 17px;display: none; }
.gnb li ul li{float: none;margin-left:0px;padding: 2px 0px;}
.gnb li ul li a{font-size:16px; line-height: 18px; padding: 8px 0px;height: auto;font-family:'NotoKrL',sans-serif;color:#333; }
.gnb li.active ul li a{color:#333; }
.gnb li ul li a:hover:after,.gnb li.active ul li a:after{content:'';display:none;}
.gnb li ul li a:hover{background:#0770bb;color:#fff;font-family: 'NotoKrM'}


.nav-wrap .nav-bg{width:100%;background:#ffffff;height:220px;box-shadow: 0px 8px 13px rgba(0,0,0,0.3); position: absolute; top:90px; z-index:998;display: none;}

.nav-wrap .nav-bg.active{display:block;}
.gnb.active li ul{display:block;}

/* header-loaction */
.location-wrap{height:60px;background: #f8f8f8;border-bottom:1px solid #eeeeee;}
.location-wrap .common-layout{position:relative;z-index:99;}
.btn-home{width:60px;height:60px;border-right:1px solid #eeeeee;border-left:1px solid #eeeeee;border-bottom:1px solid #eeeeee;background:#f8f8f8;float:left;}
.btn-home:before{content:'';display:inline-block;width:23px;height:22px;background:url(../img/icon_location.png) 0 0 no-repeat}
.location-nav-wrap{float:left;font-size:16px;position:relative;border-right:1px solid #eeeeee;}
.location-nav-wrap:last-child .location-1{ color:#333;font-family: 'NotoKrR';}
.location-1{color:#777777;line-height:60px;padding-left:20px;padding-right:62px;display:inline-block;min-width:188px;}
.location-1:after{content:'';position:absolute;right:20px;top:50%;margin-top:-3px;display:inline-block;width:10px;height:5px;background:url(../img/icon_location.png) -40px 0 no-repeat}
.location-nav{position:absolute;left:0;top:60px;display:none;padding-bottom:20px;background:#f8f8f8;border-right:1px solid #eeeeee;border-left:1px solid #eeeeee;border-bottom:1px solid #eeeeee;}
.location-nav li{}
.location-nav li a{color:#333;height:37px;line-height:37px;display:block;padding:0 20px;min-width:188px;}
.location-nav li a:focus,.location-nav li a:hover{background:#eee;}

.location-nav-wrap .location-1.active{color:#777;font-family: 'NotoKrR'}
.location-nav-wrap .location-1.active:after{background-position:-40px -40px;}
.location-nav-wrap .location-1.active +.location-nav{display:inline-block;}


/* container */
.container{}
.pagetitle-wrap{text-align: center;width:1180px;margin:0 auto 60px; padding-top:100px;}
.pagetitle-wrap .text-style1{margin-top:30px;}
.contents{ position: relative;width:1180px;margin:0 auto 100px}
.pagetitle-wrap.deceased{background:url('../img/about_deceased_bg.jpg'); width:100%; height:300px;}
.pagetitle-wrap.deceased .title-style1{color: #fff;}
.pagetitle-wrap.deceased .text-style1{color: #fff;}

/* footer */
.footer{background:#3d4044; position: relative;}
.footer .top-btn{width: 60px; height:60px; background: url(../img/icon_header.png) 0 -100px no-repeat rgba( 61, 64, 68, 0.6 ); border-radius: 60px; position: absolute;top: -110px; right: 0; }
.quicklink-wrap{background:#374257;width: 100%; }
.quicklink{color:#fff;letter-spacing: -0.05em;border-left:1px solid #5f6879}
.quicklink:after{content:'';display:block;clear:both;}
.quicklink li{width:194px;border-right:1px solid #5f6879; display:inline-block;}
.quicklink li a{display:block;height:50px;line-height:50px;position:relative; width: 196px; text-align: center;}


/* copyright */
.copyright-wrap .common-layout{padding-top:30px;padding-bottom:42px;color:#aaa;}
.copyright-btn{margin-bottom: 15px;}
.copyright-btn button{font-family: 'NotoKrR',sans-serif; font-size: 14px; color:#fff;position: relative;padding:0  15px;}
.copyright-btn button:first-child{padding-left: 0;}
.copyright-btn button:after{content: '';display: inline-block;width: 1px;height: 11px;background: #fff;position: absolute;top: 5px;right:0px;}
.copyright-btn button:last-child:after{content: '';display:none;}
.copyright-info{float:left;line-height:24px; font-size: 14px; color:#aaa;}
.copyright-info .copyright{text-transform: uppercase;}
.footer .footer-logo{width: 131px; height:39px; background: url(../img/icon_header.png) 0 -50px no-repeat; position: absolute; right: 0; top:50px; }


/* ----- 공통 guide ----- */

.text-style01{}

/* color */
.color-style1{color:#0770bb !important}
.color-style2{color:#2ca48f !important}
.color-style3{color:#e3751c !important}
.color-style4{color:#777777 !important}


/* 기본 CSS */
.textR{text-align:right !important;}
.textC{text-align:center !important;}
.textL{text-align:left !important;}

.floatL{float:left !important;}
.floatR{float:right !important;}
.clear-both{clear: both;}

.NotoKrL {font-family: 'NotoKrL',sans-serif ; }
.NotoKrDL {font-family: 'NotoKrDL',sans-serif;}
.NotoKrR {font-family: 'NotoKrR',sans-serif; }
.NotoKrM {font-family: 'NotoKrM',sans-serif; }
.NotoKrB {font-family: 'NotoKrB',sans-serif; }

.marT5{margin-top: 5px !important}
.marT7{margin-top: 7px !important}
.marT10{margin-top: 10px !important}
.marT15{margin-top: 15px !important}
.marT20{margin-top: 20px !important}
.marT30{margin-top: 30px !important}
.marT40{margin-top: 40px !important}
.marT50{margin-top: 50px !important}
.marT60{margin-top: 60px !important}
.marT80{margin-top: 80px !important}
.marT100{margin-top: 100px !important}
.marB10{margin-bottom: 10px !important}
.marB15{margin-bottom: 15px !important}
.marB20{margin-bottom: 20px !important}
.marB30{margin-bottom: 30px !important}
.marB80{margin-bottom: 80px !important}
.marL5{margin-left: 5px !important}
.marL10{margin-left: 10px !important}
.marL20{margin-left: 20px !important}

.line-h30{line-height:34px}

/* component */
.btn{display:inline-block;border-radius:10px 0 0px 0;min-width:130px;height:45px;font-size:16px;color:#fff;background: #0770bb;font-family: 'NotoKrR';}

/* component */
.btn-m{height:45px;min-width:130px;padding:0 30px;}
.btn-l{height:60px;min-width:180px;padding:0 40px;font-size:18px;}
.btn.color01{background:#0770bb;}/* blue */
.btn.color02{background:#199da3;}/* mint */
.btn.color03{background: #757a85}/* gray */
.btn.color04{background: #199da3;} /* Old browsers */
.btn.color05{background: #fff; border:1px solid #757a85; color: #757a85  }/* gray */
.btn.color06{background: #199da3;} /* Old browsers */

/* button group */
.btn-wrap{text-align:center; }
.btn-wrap button{margin-left: 8px; cursor: pointer;}
.btn-wrap button:first-child {margin-left: 0px}

/* text */
.title-style1{font-family: 'NotoKrM'; font-size: 40px; color: #000;font-weight: normal; }
.title-style2{font-family: 'NotoKrL'; font-size: 30px; color: #000;font-weight: normal; }
.title-style3{font-family: 'NotoKrM'; font-size: 24px; color: #000;font-weight: normal; }
.title-style4{font-family: 'NotoKrM'; font-size: 20px; color: #000;font-weight: normal; }
.title-style5{font-family: 'NotoKrM'; font-size: 16px; color: #333;font-weight: normal; }
.text-style1{font-family: 'NotoKrR'; font-size: 18px; color: #000;font-weight: normal;}
.text-style2{font-family: 'NotoKrL'; font-size: 16px; color: #333;font-weight: normal;}
.text-style3{font-family: 'NotoKrL'; font-size: 14px; color: #0770bb;font-weight: normal;}
.text-style4{font-family: 'NotoKrL'; font-size: 14px; color: #777;font-weight: normal;}
.text-style5{font-family: 'NotoKrL'; font-size: 18px; color: #777;font-weight: normal;}
.text-style6{font-family: 'NotoKrR'; font-size: 16px; color: #000;font-weight: normal; line-height: 22px}
.text-style7{font-family: 'NotoKrM'; font-size: 14px; color: #333;font-weight: normal; display: inline-block; margin:15px 0 7px 0}
.text-style8{font-family: 'NotoKrL'; font-size: 16px; color: #333;font-weight: normal; line-height: 24px}

/* tab */
.tab-wrap{position:relative;}
.tablist-type1{width:1180px;display:table;margin-bottom:60px;height: 60px; overflow : hidden; white-space:nowrap; letter-spacing: -4px; }
.tablist-type1 .br{display: table-row}
.tablist-type1 a{display:table-cell;text-align:center;height:60px;color:#000;font-size:16px; line-height: 60px; padding:0 55px; min-width:196px; border:1px solid #dddddd;border-left:0px; letter-spacing: -1px; }
.tablist-type1 a:first-child{border-left:1px solid #dddddd;}
.tablist-type1 a.active{position:relative; background:#0770bb; border:1px solid #0770bb;color:#fff;font-family:'NotoKrR',sans-serif;}

.tablist-type1.line2{white-space:normal;}
.tablist-type1.line2 a{min-width:295px; }

.tab-wrap .tabpanel, .tab-wrap .tabpanel-sub{display: none}
.tab-wrap .tabpanel.active, .tab-wrap .tabpanel-sub.active{display: block;}
.tablist-type1 .br:nth-child(n+2) a{border-top:0px;}

/* 문단 단위 */
.prg-wrap{border-top:1px solid #ddd;padding-top:40px;padding-bottom:78px;}
.prg-wrap:after{content:'';display: block;clear: both;}
/* .prg-wrap:first-child{border-top:none;} */
.prg-wrap:last-child{padding-bottom:0;}
.prg-wrap .prg-left{float:left;width:200px;}
.prg-wrap .prg-title{font-size:24px;color: #000;line-height:32px;font-family:'NotoKrM';}
.prg-wrap .prg-title .marL{display:inline-block; padding-left:23px;}
.prg-wrap .prg-right{float:right;width:980px;}
.prg-cont{line-height:24px;font-size:16px;color: #333;letter-spacing:-0.068em;}
.prg-wrap .step-list{clear: both; padding-top: 40px;}

/* 절차1 */
.step-list{margin-top: 30px}
.step-list li{display: inline-block; vertical-align: middle;width:250px;background: url('../img/step_list_arrow.png') 190px 0 no-repeat;}
.step-list li p{background: url('../img/step_list_box.png') 0 0 no-repeat;height:150px;width:150px;text-align: center; padding: 25px 0 0 0;font-size:16px;font-family: 'NotoKrR';line-height: 20px; }
.step-list li p span{display: block; font-size:14px;color:#199da3 ;letter-spacing: 0px;font-family: 'NotoKrM'; margin-bottom:35px;}
.step-list li p span.step-more{font-family: 'NotoKrL';color:#777 }
.step-list.step06 li{width:202px;background-position: 165px 0;}
.step-list.step07 li{width:169px;background-position: 152px 20px; margin-bottom:20px;}
.step-list.step07 li p{background: url('../img/step_list_box2.png') 0 0 no-repeat;height:185px;}
.step-list li.step-last{width:150px;}

/* 절차2 */
.box-table{ width: 100%;}
.box-table tr th{background:url('../img/img_line_h.png') 100px 0 repeat-y;}
.box-table tr:first-child  th{background:url('../img/img_line_h_top.png') 0 center repeat-y;}
.box-table th span{ border:3px solid #dddddd; display:block;width:200px; height:60px; line-height: 50px;margin-bottom:30px;background:#fff;}
.box-table td.box-table-in{ padding-left:48px;background: url('../img/ic_arrow_01.png') 18px center no-repeat; vertical-align:top; padding-bottom:30px; }
.box-table tr:last-child td.box-table-in{padding-bottom:0px;}
.box-table td ul{background:#f3f3f3; padding: 20px 25px 12px 25px;}
.box-table td ul li{background: url('../img/ic_bullet01.png') 0 center no-repeat; padding-left:15px;margin-bottom:8px; color:#333;}
.box-table tr:last-child th{background:url('../img/img_line_h_bottom.png') 0 center repeat-y;}

/* table -  문단에들어간 테이블 정리 */
.prg-cont .table th{line-height: 22px;}
.prg-cont .table td{line-height: 20px; padding:20px}
.prg-cont .list-type1 > li:before{top:12px;}

.cont-text-type1{margin-bottom:30px;}

/* table */
.table {border-collapse:collapse !important;  table-layout: fixed; width: 100%}
.table th{font-size: 16px; font-family: 'NotoKrR'; font-weight: normal; color: #000000 ; padding: 0 20px ;text-align:center; background-color: #f6f6f6; height: 70px; border-right: 0; border-left: 1px solid #eee; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;} 
.table th:first-child, .table td:first-child{ border-left: 0 }
.table th.line{border-right: 1px solid #ddd;}
.table td{font-size: 14px;line-height: 20px; font-family: 'NotoKrL'; text-align: center; font-weight: normal; color: #777777;  padding: 10px 20px ; border-right: 0; border-left: 1px solid #eee; border-bottom: 1px solid #eee; border-top: 0; background-color:#fff;  height: 60px;}
.table td.line{border-left: 1px solid #eee !important;}
.table .btn-down{border:1px solid #aaaaaa; border-radius:2px; padding: 0 10px;line-height:26px; color:#777777;font-size: 13px; vertical-align: text-top}
.table .btn-down:before{content:'';display: inline-block;width:15px; height:15px;background:url('../img/ic_download.png') 0 bottom no-repeat; }

/* table - table-type1 */
.table.table-type1 tbody th{  border-top: 0;border-bottom: 1px solid #eee;  }
.table.table-type1 tbody th:first-child{ border-right: 1px solid #ddd; }
.table.table-type1 thead tr:first-child th{border-top: 2px solid #bbb;}
.table.table-type1 .text-style7:first-child{margin-top: 0px;}


/* table -  table-type2 */
.table.table-type2{border-collapse:collapse !important;  }
.table.table-type2 th{ border-right:0; border-left:0 ; border:0; border-bottom: 1px solid #eee;} 
.table.table-type2.textL td{text-align: left;}
.table.table-type2 tr:first-child td, .table.table-type2 tr:first-child th{ border-left: 0 ;  border-top: 2px solid #bbb;}
.table.table-type2 td:nth-child(2) {border-left: 0}
.table.table-type2 td.acc{color:#333;}
.table.table-type2 ul li{font-size: 14px;}


/* table - 고인검색 */
.table.deceased td{ padding: 22px 20px ;}

/* list-type */
.list-type1{text-align:left;}
.list-type1 > li{padding-left:10px;font-size:16px; line-height: 24px;position: relative;margin-bottom:7px;color:#333;}
.list-type1 > li:before{content:'';display:inline-block;position:absolute;left:0;top:8px;margin-top:-1px;;width:3px;height:3px;background: url('../img/icon_list.png') left top no-repeat}

.list-type1 li ul{text-align:left;margin-top:7px;padding-bottom:1px;}
.list-type1 li ul li{font-size:16px;line-height: 22px;position: relative;margin-bottom:2px;color:#777;}
.list-type1.text-14 li{font-size:14px;}

.list-type2{text-align:left;}
.list-type2 > li{padding-left:10px;font-size:16px; line-height: 24px;position: relative;margin-bottom:24px;color:#333;font-family: 'NotoKrR';}
.list-type2 > li:before{content:'';display:inline-block;position:absolute;left:0;top:8px;margin-top:2px;;width:3px;height:3px;background: url('../img/icon_list.png') left top no-repeat}
.list-type2 span.title{display: inline-block; margin-bottom: 5px;}
.list-type2 p{color:#777;font-family: 'NotoKrL';}

.ol-type1 {margin-left: 20px;}
.ol-type1 li{margin-bottom:7px;}

/* badge */
.badge{ display: inline-block; border-radius: 3px; background:#0670B9; font-size: 13px; font-weight: normal; font-family: 'NotoKrR'; color: #fff;  padding: 2px 10px 4px ; margin-right: 8px; vertical-align: middle; position: relative;top: -1px}
.badge.badge-point{background:#DA2C2D;}


/* components */
::-webkit-input-placeholder { /* Edge */color:#777;}
:-ms-input-placeholder { /* Internet Explorer 10-11 */color: #777;}
::placeholder {color: #777;}

input[type=text], input[type=password]{line-height:normal; border: 1px solid #ddd; font-size: 14px; font-family: 'NotoKrL'; color: #777; background: #fff; height: 40px; padding: 0 20px}
label.hide{position:absolute; left:-10000px; top:auto; width:1px; height:1px; overflow:hidden; }
input[type=text]:disabled, input[type=password]:disabled{ border: 1px solid #eee; color: #777; background: #f8f8f8; }
input[type=text]:focus, input[type=password]:focus{ outline: none; border: 1px solid #199da3;font-family: 'NotoKrR'; color: #000; }
input[readonly]{border: 1px solid #eee !important; color: #777 !important; background: #f8f8f8 !important;}

.select { position: relative; width: 200px; z-index: 1; height: 40px; font-size: 14px; font-weight:normal;  font-family: 'NotoKrL'; color: #777; display: inline-block;} 
.select label { position: absolute; top: 0px; left: 0px; width: 100%; z-index: -1;line-height:normal; border: 1px solid #ddd;  background: url(../img/icon_components_select_off.png) no-repeat right center #fff; height: 100%; padding: 0 20px; -webkit-appearance: none; -moz-appearance: none;  appearance: none; text-align: left; padding-right:40px; border-radius: 0 ;  vertical-align: middle; line-height:38px;} 
.select select { width: 100%; height: 100%;  line-height: 24px;  font-family: inherit;  font-size: inherit; font-weight:inherit;  border: 0; padding:10px 20px; opacity: 0; filter:alpha(opacity=0);  -webkit-appearance: none; -moz-appearance: none; appearance: none; }
.select.disabled label{ border-color:#eee; color: #777; background: #f8f8f8; }
.select:focus{ outline: none; border-color: #199da3;font-family: 'NotoKrR'; color: #000;background-position: right -40px; background:url(../img/icon_components_select_on.png) no-repeat right center }

.input-email, .input-num, .input-add, .input-rrn{text-align: left;} 
.input-text{color: #333333; font-size: 16px; letter-spacing: 0; display: inline-block; margin:0 4px; }
.input-email .emil{width: 210px !important;}
.input-email select.emil{width: 180px !important; margin-left: 6px;}
.input-num .phoneNum{width: 123px !important;}
.input-add input[type=text]{width: 400px;vertical-align: middle; }
.input-add .btn {height: 40px; border-radius: 0; vertical-align: middle; font-size: 14px;  font-weight: normal; min-width:88px; position: relative; left: -3px}
.input-add .btn.zip{width:115px !important;}
.input-rrn .rrn{width: 193px !important; }

button.more{width: 180px; height: 40px; background: #fff; border:1px solid #aaa; color:#777; border-radius: 20px; margin: 0 auto; display: block;   }


/* paging */
.pager{margin-top: 30px}
.page{ margin:0px auto; text-align:center;clear:both}
.page li, .page a{display: inline-block;border-right: 18px; }
.page span { display: inline-block; border:1px solid #ddd; width:36px; height:36px; font-size: 16px; font-weight: normal; line-height:28px;  text-align:center; color:#777; font-family: 'NotoKrR'; border-radius: 18px; margin: 0 1px  }
.page span span{display: inline;border:0; width:auto; height:auto;}
.page span:hover span, .page span:hover, .page span:focus span, .page span:focus{  color: #000 }
.page span:hover, .page span:focus{border-color:#199da3 }/* badge */
.page .active span, .page .active:hover span, .page .active:focus span{ background-color:#199da3; color:#fff;border:0; font-family: 'NotoKrM'; font-weight: normal; font-size: 16px; padding-top:3px ; }
.page a.jump span{cursor:pointer;line-height:3200px;overflow-x:hidden;overflow-y:hidden;background: url(../img/icon_components.png) no-repeat #fff;}
.page a.first span{background-position:  10px 11px; }
.page a.prev span{background-position: -11px 11px;  margin-right: 15px}
.page a.next span{background-position:  -30px 11px; margin-left: 15px}
.page a.last span{background-position: -51px 11px;}


/* board-search */
.search-box{ text-align: center; margin-bottom: 60px ; font-size: 0 ; letter-spacing: -4px}
.search-box .select{ width: 175px; height: 60px ; vertical-align: top;font-size: 16px; margin-right: 4px; letter-spacing: -1px;}
.search-box .select label{  border-radius:10px 0 0px 0; border-width:2px;border-color:#eee;height: 60px;line-height: 56px;}
.search-box .select:before { right:44px;height:56px;width:20px;margin-top:2px}
.search-box input[type=text]{width: 447px; height: 60px; vertical-align: top;font-size: 16px; border-radius:10px 0 0px 0;  letter-spacing: -1px;border:2px solid #eee;}
.search-box button{ width: 120px; min-width: 120px; height: 60px;vertical-align: top;border-radius: 0  10px 0px 0; background: url(../img/icon_components.png) no-repeat left -15px #0770bb; padding-left: 63px; text-align: left;font-family: 'NotoKrR'; font-weight: normal; letter-spacing: -1px;margin-left:-1px;}
.search-result{font-size: 14px; color: #777; margin-bottom: 15px;}
.search-result .acc{ color: #0770bb ; font-family: 'NotoKrR'; vertical-align: top;}

/* board -list */
.board-wrap {min-height: 500px}
.board-wrap .board-list-wrap .table td.title{text-align:left !important; padding: 0 20px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;  }
.board-wrap .board-list-wrap .table td.title .badge{margin-right: 10px}
.board-wrap .board-list-wrap .table td.title a:hover, .board-wrap .board-list-wrap .table td.title a:focus{text-decoration: underline; cursor: pointer; width: inherit;}
.board-wrap{margin-bottom: 100px}
.board-wrap:after{content:'';display:block;clear:both;}
.board-wrap .badge{margin:0;}

/* board - detail */
.board-wrap .board-con-box .con-main{padding:  0 20px}/* 에디터 적용후 수정요망 */
.board-wrap .board-con-box{ width: 1180px }
.board-wrap .board-con-box .con-tit{ height: 100px; background-color:#f6f6f6; vertical-align: middle; color: #000; font-family: 'NotoKrR'; font-size: 18px; line-height: 26px; padding: 0 20px; border-bottom: 1px solid #dddddd; border-top: 2px solid #bbbbbb; display: table-cell; width: 1180px }
.board-wrap .con-info:after, .board-wrap .category:after, .board-wrap .data:after{content:'';display:block;clear:both;}
.board-wrap .con-info{padding: 20px; border-bottom: 1px solid #eeeeee }
.board-wrap .con-info .category{float: left;}
.board-wrap .con-info .data{float: right;}
.board-wrap .category li, .board-wrap .data li{display:table-cell;padding:0 10px;text-align:center;position:relative; color: #777;}
.board-wrap .category li:after, .board-wrap .data li:after{content:'';display:inline-block;position:absolute;right:0;top:50%;margin-top:-5px;width:1px;height:10px;background:#aaa}
.board-wrap .category li:first-child, .board-wrap .data li:first-child{padding-left:0}
.board-wrap .category li:last-child, .board-wrap .data li:last-child{padding-right:0;}
.board-wrap .category li:last-child:after, .board-wrap .data li:last-child:after{content:'';display:none;}
.board-wrap .board-con-box .con-main{ margin:50px 0}
.board-wrap .board-con-box .con-fiie { border-bottom: 1px solid #eeeeee;padding-bottom: 14px; margin-bottom: 37px  }
.board-wrap .board-con-box .con-fiie .fiie-tit{background:  url(../img/icon_components.png) no-repeat -75px 19px #f6f6f6; border-bottom: 1px solid #eeeeee;border-top:1px solid #eeeeee; color: #000; font-family: 'NotoKrR'; font-size: 16px; padding-left: 47px; height: 50px; display: table-cell;vertical-align: middle; width: 1180px }
.board-wrap .board-con-box .con-fiie .fiie-list{ margin-top: 18px;}
.board-wrap .board-con-box .con-fiie .fiie-list li{  padding-left: 32px; height: 20px;}
.board-wrap .board-con-box .con-fiie .fiie-list li:before{left:20px;top:50%;}
.board-wrap .board-con-box .con-fiie .fiie-list a{color: #777777; font-size: 14px; line-height: 20px; display: inline-block; border-bottom: 1px solid #777777 }


/* 장례식장 메인 */
.main-wrap{background-color:#f2f2f2;width:100%;}
.main{width:1180px; margin: 0 auto; padding:60px 0;}
.main:after{content:'';display: block; clear: both;}
.main .main-lolling{width:680px; height:680px; margin-right: 20px; float:left;position: relative;}
.main .main-lolling .main-bg{width:680px; height:680px;}
.main .main-lolling .main-bg div{width:680px; height:680px;}

.main .main-con{width:480px;float:left}
.main .main-con .deceased-list{height:370px;background-color:#fff;border-radius:27px 0 0px 0;padding:30px 40px;margin-bottom: 20px;position: relative;}
.main .main-con .deceased-list h2{ font-size: 28px; font-weight: normal; color: #000; border-bottom: 1px solid #dddddd; padding-bottom: 20px; position: relative; letter-spacing: -0.08em; margin-bottom: 20px;}
.main .main-con .deceased-list .more{display: inlin-block;text-indent: -9999px;width: 22px; height: 22px; position: absolute; right:40px; top:35px; background: url('../img/icon_main.png');}
.main .main-con .deceased-list table{text-align: center;width:400px;table-layout: fixed}
.main .main-con .deceased-list table th{font-size: 18px; color:#333333;font-family: 'NotoKrM';padding-bottom: 10px}
.main .main-con .deceased-list table td{font-size: 14px; color:#777777; padding: 10px 0;}
.main .main-con .deceased-list table td.title{text-align:left !important; padding: 0 10px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; }
.main .main-con .call-center{height:164px;background-color:#fff;border-radius:27px 0 0px 0;padding:40px 0 0 30px;margin-bottom: 20px;}
.main .main-con .call-center:before{content:''; display: inline-block; width:99px; height: 75px; background: url('../img/icon_main.png') 0 -59px no-repeat; float: left; margin: 10px 0 30px 0;}
.main .main-con .call-center h2{color:#000;font-size:20px;font-family: 'NotoKrR';margin-bottom:10px }
.main .main-con .call-center p{color:#666;font-size:16px;}
.main .main-con .call-center p span{display: block; margin-top:15px; color:#0770bb;font-size:30px }
.main .main-con .location-banner{border-radius:27px 0 0px 0;padding:25px 0 0 30px; background-color:#fff;height:106px;}
.main .main-con .location-banner a{width:100%;height:106px;font-size:24px;font-family: 'NotoKrR'; }
.main .main-con .location-banner a:before{content:''; display: inline-block; width:45px; height: 65px; background: url('../img/icon_main.png') 0 -136px no-repeat;  margin: 0 40px 0 15px;vertical-align:middle}

/* 슬라이드 */
.bx-wrapper {  position: relative;  *zoom: 1;  -ms-touch-action: pan-y;  touch-action: pan-y; }
.bx-wrapper img {  max-width: 100%;  display: block;border-radius: 27px 0 0 0 }
.bxslider {  margin: 0;  padding: 0;}
ul.bxslider {  list-style: none;}
.bx-viewport {   -webkit-transform: translatez(0);}
.bx-wrapper {   background: transparent;}
.bx-wrapper .bx-pager,.bx-wrapper .bx-controls-auto {  position: absolute;    width: 100%;}
.bx-controls{z-index: 99;}
.bx-wrapper .bx-pager {  text-align: center;    }
.bx-wrapper .bx-pager.bx-default-pager a {  background: #fff;  text-indent: -9999px;  display: block;  width: 10px;  height: 10px;  margin: 0 5px;  outline: 0;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;  border-radius: 5px;}
.bx-wrapper .bx-pager.bx-default-pager a:hover,.bx-wrapper .bx-pager.bx-default-pager a.active,.bx-wrapper .bx-pager.bx-default-pager a:focus {  
	background: #fff;width: 25px; }
.bx-wrapper .bx-pager-item,.bx-wrapper .bx-controls-auto .bx-controls-auto-item {  display: inline-block;  vertical-align: bottom;  *zoom: 1;  *display: inline;}
.bx-wrapper .bx-controls-auto .bx-start { display: none; text-indent: -9999px;  width: 7px;  height: 9px;  outline: 0;  background: url('../img/icon_main.png') -27px -6px no-repeat;  margin: 0 3px; }
.bx-wrapper .bx-controls-auto .bx-stop {  display: block;  text-indent: -9999px;  width: 7px;  height: 9px;  outline: 0;  background: url('../img/icon_main.png') -46px -6px no-repeat;  margin: 0 3px;}
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager{width: 100%;   position: absolute; bottom:40px; left: 60px;text-align: left; }
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-direction{display: none }
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { position: relative; display: inline-block; width: auto; }
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {position: relative; display: inline-block; width: auto;}
/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {  position: absolute;  bottom: 0;  left: 0;  background: #666;  background: rgba(80, 80, 80, 0.75);  width: 100%;}
.bx-wrapper .bx-caption span {  color: #fff;  font-family: Arial;  display: block;  font-size: .85em;  padding: 10px;}

/* 슬라이드 - 고인안내 */
.deceased-list .bx-wrapper {  position:static;  *zoom: 1;  -ms-touch-action: pan-y;  touch-action: pan-y; }
.deceased-list .bx-wrapper .bx-pager.bx-default-pager a {  background: #aaa;  text-indent: -9999px;  display: block;  width: 6px;  height: 6px;  margin: 0 2px;  outline: 0;  -moz-border-radius: 5px;  -webkit-border-radius: 5px;  border-radius: 5px;}
.deceased-list .bx-wrapper .bx-pager.bx-default-pager a:hover,.deceased-list .bx-wrapper .bx-pager.bx-default-pager a.active,.deceased-list .bx-wrapper .bx-pager.bx-default-pager a:focus {  
	background: #aaa;width: 15px; }
.deceased-list .bx-wrapper .bx-pager-item,.deceased-list .bx-wrapper .bx-controls-auto .bx-controls-auto-item {  display: inline-block;  vertical-align: middle;  *zoom: 1;  *display: inline;}
.deceased-list .bx-wrapper .bx-controls-auto .bx-start { display: none; text-indent: -9999px;  width: 7px;  height: 7px;  outline: 0;  background: url('../img/icon_main.png') -80px -7px no-repeat;  margin: 0 3px; }
.deceased-list .bx-wrapper .bx-controls-auto .bx-stop {  display: block;  text-indent: -9999px;  width: 7px;  height: 7px;  outline: 0;  background: url('../img/icon_main.png') -69px -7px no-repeat;  margin: 0 3px;}
.deceased-list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager{width: 100%;   position: absolute; bottom:20px; left: 0px;text-align: center; }
.deceased-list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-direction{display: none }
.deceased-list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { position: relative; display: inline-block; width: auto; }
.deceased-list .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {position: relative; display: inline-block; width: auto;}

/* 편의시설 */
.about-list:after{content: ''; clear:both; display: block;}
.about-list .about-list-photo{width:600px; float:left;}
.about-list .about-list-info{width:580px; float:left;}

/* 찾아오시는 길 */
.map-wrap{ height: 490px; width: 1180px; border-radius: 8px; background: #eee }

/* 관련법규*/
.qna{font-size: 16px; line-height: 22px; border-top: 2px solid #bbbbbb; margin-top: 15px;}
.qna dt{display: block;position: relative; color: #000;  border-bottom: 1px solid #eeeeee; cursor: pointer;font-size: 16px;width: 100%; text-align: left;  font-family: 'NotoKrR';}
.qna dt button{font-size: 16px;padding:27px 35px; width: 100%; text-align: left;  font-family: 'NotoKrR';}
.qna dt.active button{color: #0770bb;}
.qna dd{background: #f6f6f6; padding:27px 35px;color: #777 ;position: relative;border-bottom: 1px solid #eeeeee;display: none;}
.qna dd.active{display: block;}

/* faq */
.qna.faq{font-size: 16px; line-height: 22px; border-top: 2px solid #bbbbbb; }
.qna.faq button{padding:27px 100px; }
.qna.faq dt{display: block;position: relative; color: #000;  border-bottom: 1px solid #eeeeee; cursor: pointer;}
.qna.faq dt:before{content:''; display: block; width:14px ;height: 20px;background:url('../img/icon_components.png') -2px -127px no-repeat;position: absolute;top:30px;left:30px ; }
.qna.faq dt:after{content:''; display: block; width:20px;height: 11px;background:url('../img/icon_components.png') -24px -127px no-repeat;position: absolute;top:30px;right:30px ; }
.qna.faq dt.active button{color: #0770bb;}
.qna.faq dt.active:after{background-position:-24px -142px}
.qna.faq dd{background: #f6f6f6; padding:27px 100px;color: #777 ;position: relative;border-bottom: 1px solid #eeeeee;}
.qna.faq dd:before{content:''; display: block; width:14px ;height: 20px;background:url('../img/icon_components.png') -2px -147px no-repeat;position: absolute;top:30px;left: 30px;}
.Accordion-panel[hidden] { display: none;}